.navigatorTop{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: row;
    height: 50px;
    align-items: center;
    gap: 5%;
}

.navigatorTop a{
    margin: 2%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.topImg{
    display: flex;
    height: 50px;
    margin: 0%;
}
