html::-webkit-scrollbar{
    display: none;
}

html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body{
    background-color: rgb(44, 44, 44);
    color: white;
    
}

.namePresentation{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 10%;
    align-items: center;
    justify-content: center;
    font-size: 78pt;
    margin-bottom: 30%;
}

.navigatorTop{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: row;
    height: 50px;
    align-items: center;
    gap: 5%;
}

.navigatorTop a{
    margin: 2%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigatorTop a:visited{
    color: white;
}

.topImg{
    display: flex;
    height: 50px;
    margin: 0%;
}

.aboutMe{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.aboutMe strong{
    font-size: x-large;
}

.aboutMe button{
    margin: inherit;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(80, 80, 80);
    color: white;
    text-align: center;
    transition: 0.2s ease;
    font-size: large;
    border: none;
    border-radius: 8px;
}

.aboutMe button:hover{
    background-color: rgb(185, 185, 185);
    color: black;
}
