.content{
    margin-left: 25rem;
    margin-right: 25rem;
    margin-top: 4rem;
}

.pageTitle{
    display: flex;
    justify-content: center;
    font-size: 32pt;
    font-weight: bold;
    margin: 0;
}

.dateAuthor{
    font-size: smaller;
    font-weight: normal;
}

/* TODO: There is a high chance that this will be deprecated with more files --> overwritten by this "a"-definition */

a{
    color: white;
}

a:visited{
    color: white;
}