.titlePro{
    display: flex;
    justify-content: center;
    font-size: 32pt;
    font-weight: bold;
}

.project-grid{
    margin-top: 10%;
    display: grid;
    align-self: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 10%
}


.project-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.overlay-project{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(34, 34, 34); 
    opacity: 0;
    transition: 0.2s ease-in-out;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.project-grid_item:hover .overlay-project{
    opacity: 1;
}

.overlay-project-text{
    color: white;
    font-size: 20px;
    text-align: center;
}

.project-grid_item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 256px;
    width: 265px;
}