.blogList{
    color: white;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 a:visited{
    color: white;
    list-style-type: inherit;
    padding: inherit;
    margin: inherit;
}

.titleBlog{
    display: flex;
    justify-content: center;
    font-size: 32pt;
    font-weight: bold;
}

.blogExplanation{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blogContents{
    text-align: left;
    flex-direction: column;
}