.topAbM{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.titleAbM{
    display: flex;
    justify-content: center;
    font-size: 32pt;
    font-weight: bold;
}

.introAbM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableAbM{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.tableCV {
    border: hidden;
    border-collapse: collapse;
}

.tableCV th,td{
    padding: 5px;
    text-align: center;
}

.tableCV th{
    padding-top: 20px;
    padding-bottom: 20px;
}